
<div class="widget-container">
  <ul>
<li class="widgets">
<div class="total">
  <ul class="row1-u">
    <li class="wgt-icon"><i class="fa fa-bar-chart"></i></li>
    <li>Total Assets</li>
  </ul>
  <ul class="row2-u">
    <li>22 Stocks</li>
    <li>1400.0</li>
  </ul>
   <ul class="row3-u">
  </ul>
</div>
</li>

<li class="widgets">
<div class="total-gain-loss">
  <ul class="row1-u">
    <li class="wgt-icon"><i class="fa fa-inr"></i></li>
    <li>Total Profit/Loss</li>
  </ul>
  <ul class="row2-u">
    <li>30%</li>
    <li>420.0</li>
  </ul>
  <ul class="row3-u">
    <li><div class="progress-bar">
        <div class="fill-total progress-fill" role="progressbar">
        </div>
        </div>
    </li>
  </ul>
</div>
</li>

<li class="widgets">
<div class="days-gain-loss">
  <ul class="row1-u">
    <li class="wgt-icon"><i class="fa fa-inr"></i></li>
    <li>Days Profit/Loss</li>
  </ul>
  <ul class="row2-u">
    <li>6%</li>
    <li>84.0</li>
  </ul>
  <ul class="row3-u">
    <li><div class="progress-bar">
        <div class="fill-days progress-fill" role="progressbar">
        </div>
        </div>
    </li>
  </ul>
</div>
</li>

<li class="widgets">
<div class="risers">
  <ul class="row1-u">
    <li class="wgt-icon"><i class="fa fa-line-chart"></i></li>
    <li>Risers today</li>
  </ul>
  <ul class="row2-u">
    <li>13 stocks</li>
    <li>154.0</li>
  </ul>
  <ul class="row3-u">
    <li><div class="progress-bar">
        <div class="riser progress-fill" role="progressbar">
        </div>
        </div>
    </li>
  </ul>
</div>
</li>

<li class="widgets">
<div class="fallers">
  <ul class="row1-u">
    <li class="wgt-icon"><i class="fa fa-line-chart"></i></li>
    <li>Fallers today</li>
  </ul>
  <ul class="row2-u">
    <li>9 stocks</li>
    <li>70.0</li>
  </ul>
  <ul class="row3-u">
    <li><div class="progress-bar">
        <div class="faller progress-fill" role="progressbar">
        </div>
        </div>
    </li>
  </ul>
</div>
</li>
</ul>
</div>

<div class="chart-container">
<div class="chart-wrapper">
  <div class="chart-inner">
<div id="container" style="width:100%; height: 300px;"></div>
</div>

  <div class="chart-option">
<ul class='chart-display'>
  <li class="chart-icon">
    <a href=""><i class="fa fa-bar-chart"></i></a>
  </li>
  <li class="chart-icon">
<a href=""><i class="fa fa-bar-chart"></i></a>
  </li>

  <li class="chart-icon">
<a href=""><i class="fa fa-bar-chart"></i></a>
  </li>
</ul>
  </div>

<div class="chart-stat">
  <span class="main-label"></span>

</div>

</div>

<!-- Code for highstock chart ends here -->

<!-- Code for circular graph starts here -->

  <script type="text/javascript" src="jquery.circliful.min.js"></script>
<section class="donutchart">
  <main class="title1">
    <span class="watchlisttag">My Investment in different sectors</span>
    <div class ="container-donut">
      
<div id="doughnutChart" class="chart"></div>

   <div class="legend-container">

     <ol class="legend">
    <li class="key one">Financial</li>
    <li class="key two">Information Technology</li>
    <li class="key three">Telecom</li>
    <li class="key four">Public</li>
    <li class="key five">FMCG</li>
    <li class="key six">Energy Power </li>
    <li class="key seven">OTHERS</li>
  </ol>

      </div>




  
  </div>
</main>
</section>

</div>

<!-- code for watchlist table starts here -->

 <section class="wrapper">    
    <main class="row title1">
    	<span class="watchlisttag">My Portfolio trend</span>
      <ul>   
        <li>Company</li>
        <li>Last Price</li>
        <li>Change</li>
        <li>high</li>
        <li>low</li>
        <li>EPS</li>
        <li>Dividend</li>
        <li>Avg volume</li>
        <li>volume</li> 
      </ul>
    </main>
    
    <article class="row">
      <ul>
        <li><a href="#">Infosys</a></li>
        <li>950</li>
        <li>1.26%</li>
        <li>965</li>
        <li>937</li>
        <li>57</li>
        <li>30</li>
        <li>323050</li>
        <li>345678</li>
      </ul>
      <ul class="more-content">
        <li>This 1665-player contest boasts a $300,000.00 prize pool.
      </ul>
    </article>
    
    <article class="row">
      <ul>
        <li><a href="#">Reliance</a></li>
        <li>950</li>
        <li>1.26%</li>
        <li>965</li>
        <li>937</li>
        <li>57</li>
        <li>30</li>
        <li>323050</li>
        <li>345678</li>
      </ul>
      <ul class="more-content">
        <li>This 1665-player contest boasts a $300,000.00 prize pool.
      </ul>
    </article>
    
    <article class="row">
      <ul>
        <li><a href="#">Bharti Airtel</a></li>
        <li>950</li>
        <li>1.26%</li>
        <li>965</li>
        <li>937</li>
        <li>57</li>
        <li>30</li>
        <li>323050</li>
        <li>345678</li>
      </ul>
      <ul class="more-content">
        <li>This 1665-player contest boasts a $300,000.00 prize pool.
      </ul>
    </article>
    
    <article class="row">
      <ul>
        <li><a href="#">TCS</a></li>
        <li>950</li>
        <li>1.26%</li>
        <li>965</li>
        <li>937</li>
        <li>57</li>
        <li>30</li>
        <li>323050</li>
        <li>345678</li>
      </ul>
      <ul class="more-content">
        <li>This 1665-player contest boasts a $300,000.00 prize pool.
      </ul>
    </article>
     <article class="row">
      <ul>
        <li><a href="#">SML ISUZU</a></li>
         <li>950</li>
        <li>1.26%</li>
        <li>965</li>
        <li>937</li>
        <li>57</li>
        <li>30</li>
        <li>323050</li>
        <li>345678</li>
      </ul>
      <ul class="more-content">
        <li>This 1665-player contest boasts a $300,000.00 prize pool.
      </ul>
    </article>

      <article class="row">
      <ul>
        <li><a href="#">ICICI Bank</a></li>
         <li>950</li>
        <li>1.26%</li>
        <li>965</li>
        <li>937</li>
        <li>57</li>
        <li>30</li>
        <li>323050</li>
        <li>345678</li>
      </ul>
      <ul class="more-content">
        <li>This 1665-player contest boasts a $300,000.00 prize pool.
      </ul>
    </article>

 <article class="row">
      <ul>
        <li><a href="#">ICICI Bank</a></li>
         <li>950</li>
        <li>1.26%</li>
        <li>965</li>
        <li>937</li>
        <li>57</li>
        <li>30</li>
        <li>323050</li>
        <li>345678</li>
      </ul>
      <ul class="more-content">
        <li>This 1665-player contest boasts a $300,000.00 prize pool.
      </ul>
    </article>


  </section>
  
  <!-- code for watchlist table ends here -->



   


<!-- Code for graph and sensex data display ends here -->
<script type="text/javascript">
$(document).ready(function() {
  $('.fill-total').css('width', '37%');
  $('.fill-days').css('width', '9%');
  $('.riser').css('width', '60%');
  $('.faller').css('width', '40%');
});
</script>

<script type="text/javascript">
$(function () {
    $.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=new-intraday.json&callback=?', function (data) {

        // create the chart
        $('#container').highcharts('StockChart', {

        chart: {
                height: 260,
                //  width: 350,
                // type: 'bar',
                backgroundColor: 'white',
                marginLeft:20,
                borderRadius: 10,
                borderColor:"red",
                zIndex:"0"
            },

            title: {
                text: 'SENSEX',
                
                style: {

                  color: 'green',
                  fontSize: '20px',
                  fontWeight: 'bold'
                }

            },

            // subtitle: {
            //     text: 'Using ordinal X axis'
            // },

            xAxis: {
                gapGridLineWidth: 0
            },

            rangeSelector : {
                buttons : [{
                    type : 'hour',
                    count : 1,
                    text : '1h'
                }, {
                    type : 'day',
                    count : 1,
                    text : '1D'
                }, {
                    type : 'all',
                    count : 1,
                    text : 'All'
                }],
                selected : 1,
                inputEnabled : false
            },

            series : [{
                name : 'SENSEX',
                type: 'area',
                data : data,
                gapSize: 5,
                tooltip: {
                    valueDecimals: 2
                },
                fillColor : {
                    linearGradient : {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1,
                        linecolor:"red",
                        backgroundColor:"red"
                    },
                    stops : [
                        [0, Highcharts.getOptions().colors[6]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                threshold: null
            }]
        });
    });
});
</script>