<!-- 
<div class="landing-content">
 -->


<header class="global-header">
 
<nav id="navbar-primary" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

      <div class="navbar-header">
  
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-primary-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

           <div class="logo-wrapper">
     <a href="www.investdia.com">Investdia</a>
  </div>
    </div>

 <div class="collapse navbar-collapse" id="navbar-primary-collapse">
    <ul class="top-menu navbar-nav nav">
    <li class="menu-item"><a href="/home" class="home-link">HOME</a></li>
    <li class="menu-item"><a href="#services" class="service-link">LOGIN</a></li>
    <li class="menu-item"><a href="/blog" target="_blank" class="blog-link">BLOG</a></li>
    <li class="menu-item"><a href="#about" class="about-link">ABOUT</a></li>
    <li class="menu-item"><a href="#contact" class="contact-link">CONTACT US</a></li>
    </ul>
  </div>
  </div>
  </nav>
</header>

<div id="main" class="site-content">
<main id="content" role="main" itemprop="mainContentOfPage">
<div id="home-splash" class="full-height-intro viewportAnimation active">

<div class="banner wrapper">
<h1>Are you not investing your money.<br>We can help you to find the best investment.</h1>
  <p>Research and analytical platform helps you to make the best investment decision and increase your wealth. </p>
  <button type="button" class="btn btn-primary">Join Now</button>&nbsp;&nbsp;&nbsp;>
</div>
</div>

<section class="prod-main-menu">
<div class="product-list text-center">
  <ul class="clearfix">


    <li class="card">
    <a href="/bank">
    <div class="icon"><i class="fa fa-user fa-3dicon"></i></div>
    <a href="" style="text-decoration:none;">
    <div class="service-title">Open Bank<br>Account</div>
    </a>
    <p class="description"></p>
    </a>
  </li>

   <li class="card">
  <a href="/firms" style="text-decoration:none;">
    <div class="icon"><i class="fa fa-university fa-3dicon"></i></div>
    <div class="service-title">Open Brokerage<br>Account</div>
    <p class="description"></p>
  </a>
  </li>

<li class="card">
  <a href="/mf">
    <div class="icon"><i class="fa fa-hourglass-half fa-3dicon"></i></div>
    <a href="/mf" style="text-decoration:none;">
    <div class="service-title">Invest in Mutual<br>Funds</div>
    </a>
    <p class="description"></p>
  </a>
  </li>

    <li class="card">
    <a href="/stockshome">
    <div class="icon"><i class="fa fa-bar-chart fa-3dicon"></i></div>
    <a href="/stockshome" style="text-decoration:none;">
    <div class="service-title">Invest in<br>Stock Market</div>
    </a>
    <p class="description"></p>
    </a>
  </li>

    <li class="card">
    <a href="/govt">
    <div class="icon"><i class="fa fa-users fa-3dicon"></i></div>
    <a href="/govt" style="text-decoration:none;">
    <div class="service-title">Invest in<br>Government schemes</div>
    </a>
    <p class="description"></p>
    </a>
  </li>

    <li class="card">
    <a href="/other">
    <div class="icon"><i class="fa fa-trophy fa-3dicon"></i></div>
    <a href="/other" style="text-decoration:none;">
    <div class="service-title">Other<br>Investments</div>
    </a>
    <p class="description"></p>
    </a>
  </li>

    <li class="card">
    <a href="/virtual">
    <div class="icon"><i class="fa fa-laptop fa-3dicon"></i></div>
    <a href="" style="text-decoration:none;">
    <div class="service-title">Financial<br>Planning</div>
    </a>
    <p class="description"></p>
    </a>
  </li>
  </ul>
</div>  
</section>




<section class="screen2_wrapper">
<div class="screen2">
 
  <div class="screen2_heading">
    <span class="hzero">We will help you too make better investment decision.</span>
  </div>

  <div class="screen2_sub-heading">
    <p>Investdia helps you to make better financial decision to invest your money.We will make it simple to find the best brokerage account, mutual fund, stock or any other investment available in India.</p>
  </div>
  <div class="screen2_options">
    <ul>
      <li>
        <div class="option_icon">
        <i class="fa fa-user-secret" aria-hidden="true"></i>
        </div>
        <h3>
          Tailored advice
        </h3>
        <p class="home-props__text">
          See when you can retire or what travel card is right for you. Every recommendation we make is tailored to you and your unique financial goals.
        </p>
      </li>
      <li>
  <div class="option_icon">
        <i class="fa fa-user-secret" aria-hidden="true"></i>
        </div>
        <h3>
          Clear, honest info
        </h3>
        <p class="home-props__text">
          No jargon or toggling between sites to guess your best option. Just fair, easy-to-understand info that'll help you navigate any decision with confidence.
        </p>
      </li>
      <li>
     <div class="option_icon">
        <i class="fa fa-user-secret" aria-hidden="true"></i>
        </div>
        <h3>
          On-call experts
        </h3>
        <p class="home-props__text">
          Have questions about things like taxes, retirement or homebuying? We have certified experts ready to talk you through it. All you have to do is ask.
        </p>
      </li>
      <li>
    <div class="option_icon">
        <i class="fa fa-user-secret" aria-hidden="true"></i>
        </div>
        <h3>
          Big-time savings
        </h3>
        <p class="home-props__text">
          Small tweaks can make a big difference. See how swapping your auto insurance company or refinancing your mortgage can lower your highest bills.
        </p>
      </li>
  </ul></div>
</div>

</section>

<section class="screen3_wrapper">
<div class="screen3">
 
  <div class="screen3_heading">
    <span class="hzero">Learn about Investment from experts </span>
  </div>

  <div class="screen3_blog_items">
      <a href="http://www.investdia.com/blog/author/investdia-2/" target="_blank" class="home-reads__img read-1">
      </a>
  
  <div class="screen3_blog_info">
      <div class="screen3_blog_align">
        <h3><a href="">How one should start making Investment</a></h3>
        <div class="screen3_blog_byline">
          <div class="home-reads__byline--pic">
            <img src="../images/blog/profile.jpg" height="30" width="30" alt="">
          </div>
          <div class="screen3_blog_author">
            by Jitesh Anand
          </div>
        </div>
        <span class="screen3_blog_gist">You want to start doing investment and haven't done ever.This blog will help you to make your first investment.Here you will learn different type of investment options available.</span>
      </div>
    </div>
</div>

  <div class="screen3_blog_items">
    <a href="//www.nerdwallet.com/blog/credit-card-data/travel-credit-cards-study/?trk=nw_hp4_bv_indexpg" class="home-reads__img read-1">
    </a>
    
  <div class="screen3_blog_info">
      <div class="screen3_blog_align">
        <h3><a href="">How one should start making Investment</a></h3>
        <div class="screen3_blog_byline">
          <div class="home-reads__byline--pic">
            <img src="../images/blog/profile.jpg" height="30" width="30" alt="">
          </div>
          <div class="screen3_blog_author">
            by Jitesh Anand
          </div>
        </div>
        <span class="screen3_blog_gist">You want to start doing investment and haven't done ever.This blog will help you to make your first investment.Here you will learn different type of investment options available.</span>
      </div>
    </div>
</div>

  <div class="screen3_blog_items">
    <a href="//www.nerdwallet.com/blog/credit-card-data/travel-credit-cards-study/?trk=nw_hp4_bv_indexpg" class="home-reads__img read-1">
    </a>
    
  

  <div class="screen3_blog_info">
      <div class="screen3_blog_align">
        <h3><a href="">How one should start making Investment</a></h3>
        <div class="screen3_blog_byline">
          <div class="home-reads__byline--pic">
            <img src="../images/blog/profile.jpg" height="30" width="30" alt="">
          </div>
          <div class="screen3_blog_author">
            by Jitesh Anand
          </div>
        </div>
        <span class="screen3_blog_gist">You want to start doing investment and haven't done ever.This blog will help you to make your first investment.Here you will learn different type of investment options available.</span>
      </div>
    </div>
</div>

<div class="blog_address">
  You can read all the articles at our <a href="/blog" target="_blank"> blog.</a> 
</div>
  </div>
</section>

<section class="screen4_wrapper">
<div class="screen4_contact">
   <ul class="head-banner wrap-content">
   <li><h4 class="heading-size">Help us spread the Word</h4></li> 
   <li>Follow, like, tweet or post. We would love to interact with you.</li>
   </ul>
   <ul class="help_us_icon"> 
   <li><a href="https://www.facebook.com/investdia" class="fb"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
   <li><a href="https://twitter.com/" class="twit"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>                         
   <li><a href="" class="g-plus"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
   <li><a href="" class="yt"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>                                                              
   </ul>
</div>
</section>
</main>

<footer id="global-footer contact" class="nav-view">
    <nav>
        <ul class="menu level-1">
            <li id="701" class="nav-link-view level-1-item"><a href="" class="global-nav-link"><h2 class="global-nav-header">About Us</h2></a></li>
         

            <li id="706" class="nav-link-view level-1-item"><a href="" class="global-nav-link"><h2 class="global-nav-header">Contact Us</h2></a>
            <div class="contact_detail">
            <div>
            <i class="fa fa-envelope" aria-hidden="true"></i> investdia7@gmail.com
            </div>
            <div>
            <i class="fa fa-mobile" aria-hidden="true"></i> +91 9860433217
            </div>
            </div>
            </li>

            <li id="709" class="nav-text-view level-1-item">
                <h2 class="global-nav-header global-nav-text">© Copyright 2016 Investdia, Inc.  All Rights Reserved</h2>
            </li>
        </ul>
    </nav>
</footer>


</div>	



<!-- <div class="modal fade login" id="signin">
  <div class="modal-dialog login animated">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
            <!-- <h4 class="modal-title">Login with</h4> -->
     <!--    </div>
        <div class="modal-body">  
            <div class="box">
                 <div class="content">
 
                    <div class="error">
                      <div ng-show="alert" id="alert" class="alert alert-danger col-sm-12">{{alert}}</div>
                    </div>
                    <div class="form loginBox">
                        <form method="post" accept-charset="UTF-8">
                        <input id="email" class="form-control" type="text" ng-model="user.username" placeholder="Email" name="email">
                        <input id="password" class="form-control" type="password" ng-model="user.password" placeholder="Password" name="password">
                        <input class="btn btn-default btn-login" type="button" value="Login" ng-click="login(user)">
                        </form> 
                    </div>
                 </div>
            </div>
          </div>
            
        
        <div class="modal-footer">
            <div class="forgot login-footer">
                <span>Looking to 
                     <a ng-href="/signup" data-backdrop="false">create an account</a>
                ?</span>
            </div>
   
        </div>        
      </div>
    </div> 
  </div>


</div> -->

 <script type="text/javascript">

$(document).ready(function() {
  var navpos = $('.screen2_wrapper').offset();

    $(window).bind('scroll', function() {
      if ($(window).scrollTop() > 700) {
        $('.global-header').addClass('fixed');

       }
       else {
         $('.global-header').removeClass('fixed');
       }
    });
});
  
  </script> 



<!-- // $(function() {
//   $('a[href*=#]:not([href=#])').click(function() {
//     if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
//       var target = $(this.hash);
//       target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
//       if (target.length) {
//         $('html,body').animate({
//           scrollTop: target.offset().top
//         }, 1000);
//         return false;
//       }
//     }
//   });
// });  -->

