<div class="row">
                            <h3><span class="fa fa-user"></span> User Details</h3>

                    
                        <strong>id</strong>{{loggeduser.id}}<br>
                        <strong>email</strong>: {{loggeduser.email}}<br>
                       	<strong>firstname</strong>: {{loggeduser.name.firstname}}<br>
                    

            </div>
        


          <h3> <a href="/logout">logout</a></h3>